html, body, #map {
  height: 100%;
}

.filtro {
  color: black;
  font-weight:bold;
  background-color: yellow
}

.todo-search-field{
  width: 96%;
}

.todo-search {
  position: relative;
  background: #1abc9c;
  background-size: 16px 16px;
  border-radius: 6px 6px 0 0;
  color: #34495e;
  padding: 10px 10px 0px;
}

.todo li {
  padding: 8px 15px 5px 15px;
}

.todo li.clusterMarkers  {
  background: #34495e;
  line-height: 1.214;
  padding: 8px 15px 5px 15px;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.has-switch span.switch-left {
  border-radius: 30px 0 0 30px;
  background-color: #355C86;
  color: #1abc9c;
  border-left: 1px solid transparent;
}


.share-label {
  float: left;
  font-size: 16px;
  line-height: 1.4;
  padding-top: 5px;
  width: 75%;
}


ul.todolist {

}


.switch-square span.switch-left {
  border-radius: 6px 2px 2px 6px;
}
